/*
 * 20200321
 * Gabriel Cesar
 * gabrielcesar2@gmail.com
 */

*
{
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-weight: 300;
}

body
{
    margin: 0;
    overflow: hidden;
}

pre
{
    font-family: monospace;
    font-size: 13px;
}


::-webkit-scrollbar
{
    -webkit-background-color: #333;
    background-color: #333;
}

::-webkit-scrollbar-thumb
{
    -webkit-background-color: #444;
    background-color: #444;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 8px;
    -webkit-width: 8px;
    background-clip: padding-box;
    border: 3px solid transparent;
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

.arwen_about
{
    color: #999;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    left: 100%;
    margin-left: -54px;
    margin-top: -19px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 50%;
    width: 38px;
}

.arwen_about:hover
{
    color: #87cefa;
}

.arwen_amount
{
    float: right;
    height: 100%;
    line-height: 38px;
    position: relative;
    text-align: right;
    top: 0;
    width: 28px;
    margin-right: 8px;
}

.arwen_box_left_confirmed
{
    background-color: #404040;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: #999;
	height: 120px;
	left: 0;
    padding-top: 24px;
	position: absolute;
    overflow-y: auto;
    text-align: center;
    text-transform: uppercase;
	top: 60px;
	width: 128px;
}

.arwen_box_left_death
{
    background-color: #404040;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: #999;
	height: 120px;
	left: 128px;
    padding-top: 24px;
	position: absolute;
    overflow-y: auto;
    text-align: center;
    text-transform: uppercase;
	top: 60px;
	width: 128px;
}

.arwen_box_right
{
    background-color: #404040;
    background-image: url(../images/world.svg);
    background-size: auto 100%;
    background-position: 50% 50%;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
	box-sizing: border-box;
    color: #999;
	height: 120px;
	left: calc(100% - 256px);
    padding-top: 24px;
	position: absolute;
    text-align: center;
    text-transform: uppercase;
	top: 60px;
	width: 256px;
}

.arwen_confirmed { color: orange; }
.arwen_death { color: #ff9797; }

.arwen_icon
{
    background-color: #ccc;
    background-size: auto 100%;
    background-position: 50% 50%;
    box-sizing: border-box;
    border-radius: 50%;
    height: 16px;
    float: left;
    position: relative;
    margin-left: 16px;
    margin-right: 10px;
    margin-top: -8px;
    top: 50%;
    width: 16px;
}

.arwen_icon_tooltip
{
    background-color: #ccc;
    background-size: auto 100%;
    background-position: 50% 50%;
    box-sizing: border-box;
    border-radius: 50%;
    height: 16px;
    margin-bottom: 2px;
    width: 16px;
}

.arwen_item
{
    background-color: #444;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    color: #999;
    cursor: default;
    height: 42px;
    line-height: 42px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.arwen_item:hover { background-color: #333; }

.arwen_flag_AC { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Bandeira_do_Acre.svg/45px-Bandeira_do_Acre.svg.png');}
.arwen_flag_AL { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bandeira_de_Alagoas.svg/45px-Bandeira_de_Alagoas.svg.png');}
.arwen_flag_AP { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Bandeira_do_Amap%C3%A1.svg/45px-Bandeira_do_Amap%C3%A1.svg.png');}
.arwen_flag_AM { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Bandeira_do_Amazonas.svg/45px-Bandeira_do_Amazonas.svg.png');}
.arwen_flag_BA { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Bandeira_da_Bahia.svg/45px-Bandeira_da_Bahia.svg.png');}
.arwen_flag_CE { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bandeira_do_Cear%C3%A1.svg/45px-Bandeira_do_Cear%C3%A1.svg.png');}
.arwen_flag_DF { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Bandeira_do_Distrito_Federal_%28Brasil%29.svg/45px-Bandeira_do_Distrito_Federal_%28Brasil%29.svg.png');}
.arwen_flag_ES { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Bandeira_do_Esp%C3%ADrito_Santo.svg/45px-Bandeira_do_Esp%C3%ADrito_Santo.svg.png');}
.arwen_flag_GO { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_Goi%C3%A1s.svg/45px-Flag_of_Goi%C3%A1s.svg.png');}
.arwen_flag_MA { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Bandeira_do_Maranh%C3%A3o.svg/45px-Bandeira_do_Maranh%C3%A3o.svg.png');}
.arwen_flag_MT { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Bandeira_de_Mato_Grosso.svg/45px-Bandeira_de_Mato_Grosso.svg.png');}
.arwen_flag_MS { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Bandeira_de_Mato_Grosso_do_Sul.svg/45px-Bandeira_de_Mato_Grosso_do_Sul.svg.png');}
.arwen_flag_MG { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Bandeira_de_Minas_Gerais.svg/45px-Bandeira_de_Minas_Gerais.svg.png');}
.arwen_flag_PA { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Bandeira_do_Par%C3%A1.svg/45px-Bandeira_do_Par%C3%A1.svg.png');}
.arwen_flag_PB { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Bandeira_da_Para%C3%ADba.svg/45px-Bandeira_da_Para%C3%ADba.svg.png');}
.arwen_flag_PR { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Bandeira_do_Paran%C3%A1.svg/45px-Bandeira_do_Paran%C3%A1.svg.png');}
.arwen_flag_PE { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Bandeira_de_Pernambuco.svg/45px-Bandeira_de_Pernambuco.svg.png');}
.arwen_flag_PI { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bandeira_do_Piau%C3%AD.svg/45px-Bandeira_do_Piau%C3%AD.svg.png');}
.arwen_flag_RJ { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bandeira_do_estado_do_Rio_de_Janeiro.svg/45px-Bandeira_do_estado_do_Rio_de_Janeiro.svg.png');}
.arwen_flag_RN { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Bandeira_do_Rio_Grande_do_Norte.svg/45px-Bandeira_do_Rio_Grande_do_Norte.svg.png');}
.arwen_flag_RS { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Bandeira_do_Rio_Grande_do_Sul.svg/45px-Bandeira_do_Rio_Grande_do_Sul.svg.png');}
.arwen_flag_RO { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Bandeira_de_Rond%C3%B4nia.svg/45px-Bandeira_de_Rond%C3%B4nia.svg.png');}
.arwen_flag_RR { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bandeira_de_Roraima.svg/45px-Bandeira_de_Roraima.svg.png');}
.arwen_flag_SC { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Bandeira_de_Santa_Catarina.svg/45px-Bandeira_de_Santa_Catarina.svg.png');}
.arwen_flag_SP { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Bandeira_do_estado_de_S%C3%A3o_Paulo.svg/45px-Bandeira_do_estado_de_S%C3%A3o_Paulo.svg.png');}
.arwen_flag_SE { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Bandeira_de_Sergipe.svg/45px-Bandeira_de_Sergipe.svg.png');}
.arwen_flag_TO { background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Bandeira_do_Tocantins.svg/45px-Bandeira_do_Tocantins.svg.png');}

.arwen_footer
{
    background-color: #444;
    border-top: 1px solid #333;
    box-sizing: border-box;
    height: 38px;
    left: 256px;;
    line-height: 38px;
    position: absolute; 
    top: calc(100% - 38px);
    text-transform: uppercase;
    width: calc(100% - 256px);
}

.arwen_main
{
    background-color: #272822;
    box-sizing: border-box;
    height: calc(100% - 98px);
    left: 256px;;
    position: absolute; 
	overflow: auto;
	top: 60px;
    width: calc(100% - 512px);
}

.arwen_menu
{
    background-color: #555;
    border-right: 1px solid #333;
	box-sizing: border-box;
	height: calc(100% - 180px);
	left: 0;
	position: absolute;
    overflow-y: auto;
	top: 180px;
	width: 256px;
}

.arwen_menu_right
{
    background-color: #555;
    border-left: 1px solid #333;
	box-sizing: border-box;
	height: calc(100% - 218px);
	left: calc(100% - 256px);
	position: absolute;
    overflow: hidden;
    overflow-y: scroll;
	top: 180px;
	width: 256px;
}

.arwen_navbar
{
    background-color: #555;
    background-image: url('../images/biohazard.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 70% ;
    border-bottom: 1px solid #333;
    border-top: 1px solid #777;
    box-sizing: border-box;
    color: #aaa;
    height: 60px;
    line-height: 60px;
    padding-left: 16px;
    position: relative;
    text-transform: uppercase;
    width: auto;
}

.arwen_share { display: none; }

.arwen_share_button 
{ 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70% ;
    float: left;
    height: 35px;
    position: absolute;
    top: 15px;
    width: 32px; 
}

.arwen_share_facebook
{
    background-image: url('../images/facebook.svg');
    left: calc(50% - 40px);
}

.arwen_share_twitter
{
    background-image: url('../images/twitter.svg');
    left: calc(50% + 8px);
}

.arwen_share_label 
{ 
    color: #777;
    font-size: 11px;
    float: left;
    height: 15px;
    line-height: 15px;
    position: relative;
    width: 100%; 
}

.arwen_tooltip 
{ 
    background-color: #555; 
    border: 1px solid #444; 
    border-left: 16px solid #444; 
    color: #aaa;
    display: none;
    height: 72px;
    left: 0;
    opacity: .95;
    padding-top: 8px;
    padding-left: 8px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 192px;
    z-index: 2;
}

.arwen_chart_set
{
    background-color: #272822;
    color: #666; 
    position: relative; 
    float: left;
    height: calc(24px + 142px);
    width: 100%;
    z-index: 1;
}

.arwen_chart_label
{
    color: #777;
    background-color: #343530;
    font-size: 11px;
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative; 
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.arwen_chart_evolution
{
    position: relative; 
    float: left;
    height: 140px;
    width: 220px;
}

/*
.chart_path_confirmed
{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: none; stroke-width: 1; stroke-linecap: round;
    animation: dash 5s linear forwards;
}
*/

.arwen_bar_set
{
    color: #666; 
    font-size: 11px; 
    height: 24px;
    left: 256px;
    margin-top: -72px;
    position: absolute; 
    text-align: right; 
    text-transform: uppercase; 
    top: 100%;
    width: 256px;
    z-index: 1;
}

.arwen_bar
{
    background: linear-gradient(to right, #c1e583, yellow, #ff998f);
    border-radius: 4px;
    height: 8px;
    margin-top: -4px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 50%;
    width: 180px;
}

.arwen_min
{
    color: #c1e583;
    height: 100%;
    line-height: 24px;
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    width: 32px;
}

.arwen_max
{
    color: #ff998f;
    font-size: 11px;
    height: 100%;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -32px;
    text-align: left;
    width: 32px;
}

.arwen_update
{
    color: #666; 
    font-size: 11px; 
    height: 20px;
    left: 100%;
    line-height: 20px;
    margin-left: -478px;
    margin-top: -58px;
    position: absolute; 
    text-align: right; 
    text-transform: uppercase; 
    top: 100%;
    width: 216px;
    z-index: 1;
}

@media screen and (max-width: 1024px)
{
    body
    {
        background-color: 272822;
        overflow: auto;
    }

    .arwen_main
    {
        left: 0;
        top: 0;
        position: relative;
        width: 100%;
    }

    .arwen_box_left_confirmed
    { 
        float: left;
        position: relative; 
        left: 0;
        width: 50%;
        top: 0;
    }

    .arwen_box_left_death
    { 
        float: left;
        position: relative; 
        left: 0;
        width: 50%;
        top: 0;
    }

    .arwen_menu
    { 
        border-right: 0;
        float: left;
        height: 50%;
        position: relative; 
        width: 100%;
        top: 0;
    }

    .arwen_update 
    {
        background-color: #444;
        border-top: 1px solid #333;
        float: left;
        height: 32px;
        left: 0;
        line-height: 32px;
        margin: 0;
        position: relative; 
        text-align: center;
        top: 0;
        width: 100%;
    }

    .arwen_share
    { 
        background-color: #444;
        border-top: 1px solid #333;
        display: block;
        float: left;
        height: 50px;
        left: 0;
        line-height: 50px;
        margin: 0;
        position: relative; 
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100%;
    }

    .arwen_menu_right 
    {
        position: relative;
        float: left;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .arwen_chart_evolution
    {
        width: 100%;
        height: auto;
    }

    .arwen_box_right { display: none; }
    .arwen_footer { display: none; }

    .arwen_bar_set 
    { 
        position: relative;
        float: left;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.arwen_color_999 { color: #999; }
.arwen_color_darkred { color: #ff0000; }
.arwen_color_green { color: lightgreen; }
.arwen_color_orange { color: orange; }
.arwen_color_red { color: #ff7979; }
.arwen_color_yellow { color: yellow; }
.arwen_font_size_10 { font-size: 10px; }
.arwen_font_size_11 { font-size: 11px; }
.arwen_font_size_50 { font-size: 50px; }
.arwen_font_size_64 { font-size: 64px; }

